.header h1 { font: 0/0 a; text-shadow: none; color: transparent; }

@font-face { font-family: black; src: url("fonts/cytiapro-black-webfont.eot"); src: url("fonts/cytiapro-black-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/cytiapro-black-webfont.woff") format("woff"), url("fonts/cytiapro-black-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: regular; src: url("fonts/cytiapro-regular-webfont.eot"); src: url("fonts/cytiapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/cytiapro-regular-webfont.woff") format("woff"), url("fonts/cytiapro-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: medium; src: url("fonts/cytiapro-medium-webfont.eot"); src: url("fonts/cytiapro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/cytiapro-medium-webfont.woff") format("woff"), url("fonts/cytiapro-medium-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: light; src: url("fonts/cytiapro-light-webfont.eot"); src: url("fonts/cytiapro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/cytiapro-light-webfont.woff") format("woff"), url("fonts/cytiapro-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: bold; src: url("fonts/cytiapro-bold-webfont.eot"); src: url("fonts/cytiapro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/cytiapro-bold-webfont.woff") format("woff"), url("fonts/cytiapro-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; font-family: regular, sans-serif; }

a img, fieldset { border: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

body > * { min-width: 940px; margin: 0 auto; }

.header { height: 100%; height: 100vh; position: relative; }
.header h1 { position: absolute; width: 448px; height: 222px; background: url(../img/vglogo.svg) no-repeat 0 0; background-size: contain; left: 50%; top: 50%; margin-top: -181px; margin-left: -219px; }
.header .header__bot { position: absolute; bottom: 25px; left: 0; width: 100%; text-align: center; font-family: regular, sans-serif; font-size: 18px; }
.header .header__bot strong { font-weight: normal; font-family: bold, sans-serif; display: block; text-align: center; font-size: 24px; }

.screenshots { font-size: 0; overflow: hidden; margin-bottom: 60px; }
.screenshots a { display: inline-block; width: 25%; box-shadow: 0 0 0 1px white; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.screenshots a:hover { opacity: 0.7; }
.screenshots a img { display: block; width: 100%; }

.patents .patents__in { width: 940px; margin: 0 auto; }
.patents .patents__bot { font-size: 54px; font-family: bold, sans-serif; text-align: center; margin: 60px 0 80px 0; line-height: 1.2; }
.patents h2 { text-align: center; font-weight: normal; font-size: 36px; text-transform: uppercase; margin-bottom: 30px; margin-bottom: 40px; }
.patents ul { list-style: none; overflow: hidden; }
.patents ul a { color: black; text-decoration: none; }
.patents ul li { float: left; width: 25%; }
.patents ul h3 { text-decoration: underline; font-size: 12px; font-weight: normal; font-family: bold, sans-serif; margin-top: 15px; margin-bottom: 10px; text-decoration: underline; }
.patents ul p { font-size: 18px; line-height: 1.2; }

.video { background: #f8f8f8; }
.video .video__in { width: 940px; margin: 0 auto; padding: 20px 0; margin-bottom: 130px; overflow: hidden; }
.video h3 { font-size: 24px; font-weight: normal; margin-bottom: 15px; }
.video .video__next, .video .video__prev { font-size: 18px; color: black; padding-top: 10px; }
.video .video__prev { float: left; }
.video .video__next { float: right; }

.footer .footer__in { width: 940px; margin: 0 auto; overflow: hidden; line-height: 1.4; padding-bottom: 50px; }
.footer .footer__logo { float: left; background: url('../img/icons-s25c0e1c348.png') 0 0 no-repeat; width: 335px; height: 69px; }
.footer .footer__emails { float: right; font-size: 18px; font-family: regular, sans-serif; }
.footer .footer__emails a { text-decoration: underline; color: black; }
.footer .footer__address { float: left; font-size: 18px; margin-left: 60px; }

.button { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; display: inline-block; }

.button_large { font-size: 30px; }

.greenbutton { padding: 9px 14px; font-size: 12px; line-height: normal; border-radius: 5px; background: green; color: white; text-shadow: 0 -1px 0 black; display: inline-block; }
.greenbutton i { width: 10px; height: 10px; background: pink; display: inline-block; margin-right: 10px; }

.greenbutton_large { font-size: 30px; }
