// Normally mainpage styles
body>*
	min-width: 940px 
	margin: 0 auto 

.header
	height: 100% 
	height: 100vh
	position: relative
	h1
		position: absolute
		width: 448px 
		height: 222px 
		background:  url(../img/vglogo.svg) no-repeat 0 0
		background-size: contain 
		@extend %hide-text
		left: 50%
		top: 50%
		margin-top: -181px   
		margin-left: -239px + 20px
	.header__bot
		position: absolute
		bottom: 25px
		left: 0
		width: 100%
		text-align: center
		+reg
		font-size: 18px   
		strong
			font-weight: normal
			+bold
			display: block
			text-align: center
			font-size: 24px 
.screenshots
	font-size: 0
	overflow: hidden
	margin-bottom: 60px 
	a
		display: inline-block
		width: 25%
		box-shadow: 0 0 0 1px #fff
		+transition(all .1s ease-in-out)
		&:hover
			opacity: .7 
		img
			display: block
			width: 100% 
.patents
	.patents__in
		width: 940px
		margin: 0 auto 
	.patents__bot
		font-size: 54px 
		+bold
		text-align: center
		margin: 60px 0 80px 0 
		line-height: 1.2 
	h2
		text-align: center
		font-weight: normal
		font-size: 36px 
		text-transform: uppercase
		margin-bottom: 30px 
		margin-bottom: 40px 
	ul
		list-style: none
		overflow: hidden
		a
			color: #000 
			text-decoration: none
		li
			float: left
			width: 25%
		h3
			text-decoration: underline
			font-size: 12px 
			font-weight: normal
			+bold
			margin-top: 15px 
			margin-bottom: 10px 
			text-decoration: underline
		p
			font-size: 18px 
			line-height: 1.2 
.video
	background: #F8F8F8
	.video__in
		width: 940px
		margin: 0 auto 
		padding: 20px 0 
		margin-bottom: 130px 
		overflow: hidden
	h3
		font-size: 24px 
		font-weight: normal
		margin-bottom: 15px 
	.video__next,.video__prev
		font-size: 18px 
		color: #000
		padding-top: 10px 
	.video__prev
		float: left
	.video__next
		float: right
.footer
	.footer__in
		width: 940px 
		margin: 0 auto
		overflow: hidden
		line-height: 1.4 
		padding-bottom: 50px 
	.footer__logo
		float: left
		+s(vg)
	.footer__emails
		float: right
		font-size: 18px 
		+reg
		a
			text-decoration: underline
			color: #000 
	.footer__address
		float: left
		font-size: 18px 
		margin-left: 60px 
			